<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>srvLogin</servlet-name>
        <servlet-class>servlets.srvLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvNewExperiment</servlet-name>
        <servlet-class>servlets.srvNewExperiment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvExperimentExecution</servlet-name>
        <servlet-class>servlets.srvExperimentExecution</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvExperimentStop</servlet-name>
        <servlet-class>servlets.srvExperimentStop</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvUploadProgram</servlet-name>
        <servlet-class>servlets.srvUploadProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvNewUser</servlet-name>
        <servlet-class>servlets.srvNewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvInstallProgram</servlet-name>
        <servlet-class>servlets.srvInstallProgram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>srvEditUser</servlet-name>
        <servlet-class>servlets.srvEditUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>srvLogin</servlet-name>
        <url-pattern>/srvLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvNewExperiment</servlet-name>
        <url-pattern>/srvNewExperiment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvExperimentExecution</servlet-name>
        <url-pattern>/srvExperimentExecution</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvExperimentStop</servlet-name>
        <url-pattern>/srvExperimentStop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvUploadProgram</servlet-name>
        <url-pattern>/srvUploadProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvNewUser</servlet-name>
        <url-pattern>/srvNewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvInstallProgram</servlet-name>
        <url-pattern>/srvInstallProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>srvEditUser</servlet-name>
        <url-pattern>/srvEditUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
